{% assign icons = include.icons %}


{% if icons.email %}
<li>
    <a href="mailto:{{ icons.email }}">
        <i class="fa fa-fw fa-envelope"></i>
    </a>
</li>
{% endif %}

{% if icons.github %}
<li>
    <a href="https://github.com/{{ icons.github }}">
        <i class="fa fa-fw fa-github"></i>
    </a>
</li>
{% endif %}


{% if icons.twitter %}
<li>
    <a href="https://twitter.com/{{ icons.twitter }}">
        <i class="fa fa-fw fa-twitter"></i>
    </a>
</li>
{% endif %}


{% if icons.stack_overflow %}
<li>
    <a href="https://stackoverflow.com/tags/{{ icons.stack_overflow }}">
        <i class="fa fa-fw fa-stack-overflow"></i>
    </a>
</li>
{% endif %}


{% if icons.google_plus %}
<li>
    <a href="https://plus.google.com/{{ icons.google_plus }}">
        <i class="fa fa-fw fa-google-plus"></i>
    </a>
</li>
{% endif %}
