{% assign icons = include.icons %}



{% if icons.github %}
<li>
    <a href="https://github.com/{{ icons.github }}" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-fw fa-github"></i>
    </a>
</li>
{% endif %}


{% if icons.mastodon %}
<li>
    <a href="https://innoq.social/@{{ icons.mastodon }}" target="_blank">
        <i class="fab fa-mastodon"></i>
    </a>
</li>
{% endif %}



{% if icons.youtube %}
<li>
    <a href="https://youtube.com/{{ icons.youtube}}" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-fw fa-youtube"></i>
    </a>
</li>
{% endif %}


<li>
    <a href="https://dev.to/gernotstarke" target="_blank" rel="noopener noreferrer">
        <i class='fab fa-fw fa-dev'></i>
    </a>
</li>



{% if icons.stack_overflow %}
<li>
    <a href="https://stackoverflow.com/tags/{{ icons.stack_overflow }}" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-fw fa-stack-overflow"></i>
    </a>
</li>
{% endif %}

