{% include page-url-resolver.html page=include.page %}
{% assign title = include.page.title | append: ' | ' | append: site.title %}
<div class="clearfix">
    <div style="float: right !important;">
        {% if site.share_buttons.twitter %}
        <div style="margin-right: 5px !important; float: left !important;">
            <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="{{ url }}" data-text="{{ title }}">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        {% endif %}
        
    </div>
</div>
