<!-- (hopefully) unobtrusive ads for arc42 trainings and services -->

<div class="subtle-ad">
<h4>arc42 offers architecture training and coaching.</h4>
  Two expert trainers at all times, highly practical and pragmatic,
  ideal preparation for <a href="http://isaqb.org">iSAQB CPSA-Foundation</a> certification.
<br>
Next dates (in German):
<ul>
  <li><a href="http://www.arc42.de/termine.html">March 14th-17th 2017, Munich</a></li>
  <li><a href="http://www.arc42.de/termine.html">June 27th-30th 2017, Frankfurt</a></li>
</ul>
</div>
<br>
