/* style for the ukraine-quote on home.md, made to be included on other webpages as well */

.ua-text {
    font-size: 22px;
    color: #005bbb
}

.ua-size {
    position:relative;
    right:10px;
    font-size: 14px;
    color: #fed401
}

.heart {
    --fa-beat-scale: 1.2
}

div.ua-background {
    background-color: #e7ddd8;
}
