<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    {% capture title %}{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}{% endcapture %}
    {% seo %}

    {% include page-url-resolver.html page=page %}
    {% if page.excerpt %}
    {% assign description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
    {% else %}
    {% assign description = site.description %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>{{ title }}</title>

    <link rel="shortcut icon" href="{{ site.favicon | prepend: site.baseurl }}" type="image/x-icon">
   
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
      try { document.getElementsByTagName('html')[0].className += ' js'; } catch(e) { /* NO-JS */ }
    </script>

    <link href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" rel="stylesheet">
     <script defer data-domain="docs.arc42.org" src="https://plausible.io/js/script.js"></script>
</head>
<body>

<header class="site-header">
    <div class="inner clearfix">
        <button class="fa fa-fw fa-bars nav-toggle" data-target=".site-aside"></button>
        {% if site.avatar %}
        <a href="{{ '/' | prepend: site.baseurl }}">
            <img class="avatar" src="{{ site.avatar | prepend: site.baseurl }}" alt="arc42 Logo"/>
        </a>
        {% endif %}
        <h1 class="clearfix">
            <a class="title {% if site.avatar == null %}slim{% endif %}" href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
            <br><span class="description"><font color=#fe5a83>{{ site.posts | size }} tips and {{ site.examples | size }} examples </font> {{ site.description }}</span>
        </h1>
    </div>
</header>

<div class="site-container">
    <aside class="site-aside">
        <div class="inner">
            <div class="block">
                <form action="{{ site.baseurl }}/search">
                    <input type="search" id="search" name="q" placeholder="{{ site.str_search }}" />
                </form>
            </div>
            <ul>
                {% assign pages = site.pages | sort: 'order' %}
                {% for page in pages %}
                {% if page.title and page.hide != true %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="icons">
                {% include icons.html icons=site.icons %}
            </ul>
            <hr/>

        </div>
    </aside>

    <div class="site-content">
        {{ content }}
    </div>
</div>



<footer class="site-footer">
    
    <div class="inner">
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://status.arc42.org">
            <i class="fas fa-chart-bar fa-fw" style="color:#50C878;" ></i>Status</a><i>&nbsp;&nbsp;</i>
         <a href="{{ site.baseurl }}/imprint" target="_blank" rel="noopener noreferrer nofollow">
            <i class="fa fa-user-secret" aria-hidden="true"></i> Imprint + Privacy Statement</a>
         <br>
         <span>Maintained by <a target="_blank" rel="noopener noreferrer nofollow" href="https://gernotstarke.de">Gernot Starke </a>with Peter Hruschka,
            supported by <a target="_blank" rel="noopener noreferrer nofollow" href="https://innoq.com"><b>INNOQ</b></a> and <a target="_blank" rel="noopener noreferrer nofollow" href="https://perstarke-webdev.de/"><b>Per Starke Web Development</b></a>
      </span>

    </div>
</footer>

<script src="/assets/jquery/jquery-3.7.1-min.js"></script>
<script src="{{ '/assets/lib/garand-sticky/jquery.sticky.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>

{% if page.id %}
<script src="{{ '/assets/js/header-link.js' | prepend: site.baseurl }}"></script>
{% endif %}

{% if page.permalink == '/search/' %}
<script src="{{ '/assets/js/search.js' | prepend: site.baseurl }}"></script>
{% endif %}


</body>
</html>
