---
layout: default
---

<div class="article-wrapper">
    <article>
        {% include article-header.html page=page link=false share=page.share %}
        <section class="post-content">
            {{ content }}
        </section>
        {% include article-footer.html page=page share=page.share %}
    </article>
</div>

{% if site.show-subtle-ads %}
<section class="subtle-ads">
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>

    <div hx-get="https://arc42-subtle-ads-backend.vercel.app/api"
         hx-trigger="load delay"
         hx-swap="outerHTML"
         hx-target="#subtle-ads">
    </div>

    <div id="subtle-ads">
        <h4>arc42 offers architecture training.</h4>
        <p>
            The data is currently loaded from the backend and should display here shortly.
            If not, you can see the next dates at
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://dates.arc42.org">
                dates.arc42.org
            </a>.
        </p>
    </div>
</section>
{% endif %}
